<div class="container-fluid mb-5">
  <div class="row mb-3">
    <div class="col-12 col-sm-12">
      <img class="img-header" src="../../assets/img/header.jpg" alt="header" style="height: 100%;">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-sm-3">
      <div class="card border-primary mb-3" style="margin: auto;width: 100%;">
        <div class="card-header">TAZAS</div>
        <img style="height: 300px; width: 100%; padding: 5px; display: block;" src="../../../assets/img/tazas.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-right">
          AR$ 2.000,-
        </div>
      </div>      
    </div>
    <div class="col-12 col-sm-3">
      <div class="card border-primary mb-3" style="margin: auto;width: 100%;">
        <div class="card-header">MATES</div>
        <img style="height: 300px; width: 100%; padding: 5px; display: block;" src="../../../assets/img/mate.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-right">
          AR$ 2.000,-
        </div>
      </div>      
    </div>
    <div class="col-12 col-sm-3">
      <div class="card border-primary mb-3" style="margin: auto;width: 100%;">
        <div class="card-header">BRUJISTAS</div>
        <img style="height: 300px; width: 100%; padding: 5px; display: block;" src="../../../assets/img/brujita.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-right">
          AR$ 2.000,-
        </div>
      </div>      
    </div>
    <div class="col-12 col-sm-3">
      <div class="card border-primary mb-3" style="margin: auto;width: 100%;">
        <div class="card-header">CUCHARITAS</div>
        <img style="height: 300px; width: 100%; padding: 5px; display: block;" src="../../../assets/img/cucharitas.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-right">
          AR$ 2.000,-
        </div>
      </div>      
    </div>
  </div>
</div>
